<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/tailwindcss@2.0.2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex flex-col items-center justify-start bg-gray-100 text-gray-600"
  >
    <div class="w-full max-w-lg min-h-screen space-y-4 px-4 sm:px-0 py-4">
      <div class="relative">
        <form id="search" class="flex flex-row">
          <input
            name="query"
            placeholder="Search for a post"
            class="w-full outline-none p-3 mr-2 rounded-lg shadow"
          />
          <input
            type="submit"
            value="Search"
            class="px-4 bg-blue-400 text-white rounded-lg cursor-pointer"
          />
        </form>
      </div>
      {{{body}}}
    </div>
  </body>
</html>