<div class="text-center space-y-8 py-12">
  <p class="text-4xl font-semibold">
    📚 Reading a book is a big time commitment
  </p>
  <p class="text-lg">
    It often finishes one of two ways: either you're happy you made the time
    commitment or you wish you'd just read the summary.
  </p>
  <p class="text-lg">
    This website crowd-sources this data so you can be more informed when
    deciding whether to read the full book, or just "cheat" and read the
    summary.
  </p>
</div>