<div class="text-center space-y-8 py-12">
  <p class="text-2xl font-semibold">
    📚 Reading a book is a big time commitment.
  </p>
  <p class="text-lg">
    This website saves you time by allowing you to see whether the full book is
    worth reading, or if you can "cheat" and get the main idea(s) by reading the
    summary.
  </p>
</div>