<div class="text-center space-y-8 py-12">
  <p class="text-4xl font-semibold">
    📚 Reading a book is a big time commitment
  </p>
  <p class="text-lg">
    Sometimes after finishing the book you wish you had just read the summary.
    This website crowd-sources data so you can be more informed when deciding
    whether or not to read the full book.
  </p>
  {{! <p class="text-sm">
    For example: The Selfish Gene is hard to summarise, but Never Split the
    Difference isn't.
  </p> }}
</div>