<div class="p-2 space-y-4">
  <div>
    <p>Found {{this.count}} results for "{{this.query}}"</p>
  </div>
  {{#each this.results}}
    {{! TODO: add href }}
    <div>
      <a
        href={{this.href}}
        class="underline cursor-pointer text-blue-500"
      >{{this.title}}</a>
    </div>
  {{/each}}
</div>