<div class="p-2 pt-6 space-y-4">
  <div>
    <p>Results for "{{this.query}}"</p>
  </div>
  {{#each this.results}}
    <div>
      <a
        href={{this.href}}
        class="underline cursor-pointer text-blue-500"
      >{{this.title}} by {{this.author}}</a>
    </div>
  {{/each}}
</div>